<%- include ('partials/header') %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Weclome To My gallary!</h1>
      <a>my ALL pics throuh <strong><%= y %></strong></a>
      <div><a>Number of image: <%= all.length %></a></div>
    </div>
  </header>
</div>

<header class="jumbotron">
  <div class="container">
    <h2><%= y %></h2>
  </div>
</header>

<div class="container">
  <div class="row text-center" style="display: flex; flex-wrap: wrap">
    <% all.forEach(function(pic) { %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%= pic %>" />
        <div class="caption">
          <h4>
            <%=
            pic.split("https://s3.amazonaws.com/ahmedamsoliman-replica/")[1].
            replace("IAM/Years/","").replace("IAM/Instagram/","").replace("0NDATED/","").
            replace("2005","").replace("2008","").replace("2010","").replace("2012","").replace("2013","").replace("2014","").
            replace("2015","").replace("2016","").replace("2017","").replace("2018","").replace("2018","").replace("2019","").
            replace(".png","").replace("2020","").replace("2021","").replace("2022","").replace("20223","").replace("2024","").
            replace(".jpg","").replace("/1/", "").replace("/2/",
            "").replace("/3/","").replace("/4/", "").replace("/5/", "").
            replace("/6/","").replace("/7/", "").replace("/8/",
            "").replace("/9/",""). replace("/10/", "").replace("/11/",
            "").replace("/12/", "").replace("/",
            "").replace("_","/").replace("_","/").replace("_","/").replace("_","/")
            %>
          </h4>
          <a target="_blank" href="<%= pic %>" class="btn btn-sm btn-info"
            >Open</a
          >
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
