<%- include ('partials/header') %>


<header class="jumbotron">
    <h1>Weclome To The Certifications Section</h1>
</header>

    <header class="jumbotron">
        <h2>AWS Certifications</h2>
        <a href="https://www.credly.com/users/ahmed-ali-mohamed-soliman/badges" target="_blank" class="btn btn-warning">Credentials</a>
        <h4>count: <%= awscert.length %></h4>
    </header>
    <div class="container">
    <% awscert.forEach(function(pic) { %>
        <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("ahmedalimsoliman-aws-certs/")[1].replace(".png", "") %> </h4>
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-warning">Open</a>
                    </p>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    
    
    <header class="jumbotron">
        <h2>Percipio - Skillsoft Certifications</h2>
        <a href="https://skillsoft.digitalbadges.skillsoft.com/profile/ahmedsoliman614032/wallet" target="_blank" class="btn btn-danger">Credentials</a>
        <h4>count: <%= percipio.length %></h4>
    </header>
    <div class="container">
        <% percipio.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("ahmedalimsoliman-percipio-certs/")[1].replace(".png", "") %> </h4>
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-danger">Open</a>
                    </p>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <header class="jumbotron">
        <h2>Linkedin Courses Certifications</h2>
        <a href="https://www.linkedin.com/in/ahmedalimsoliman/" target="_blank" class="btn btn-info">Credentials</a>
        <h4>count: <%= linkedin.length %></h4>
    </header>
    <div class="container">
            <% linkedin.forEach(function(pic) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= pic %>">
                        <div class="caption">
                            <h4> <%= pic.split("ahmedalimsoliman-linkedin-certs/")[1].replace(".png", "").replace(".jpg", "") %> </h4>
                        </div>
                        <p>
                            <a href="<%= pic %>" target="_blank" class="btn btn-info">Open</a>
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>


    
    <header class="jumbotron">
        <h2>OA University Certifications</h2>
    <h4>count: <%= oau.length %></h4>
</header>
<div class="container">
        <% oau.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("ahmedalimsoliman-oau-certs/")[1].replace(".jpg", "") %> </h4>
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-success">Open</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<header class="jumbotron">
    <h2>HCL Certifications</h2>
    <h4>count: <%= hcl.length %></h4>
</header>
<div class="container">
        <% hcl.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("ahmedalimsoliman-hcl-certs/")[1].replace(".jpg", "") %> </h4>
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-primary">Open</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>



<header class="jumbotron">
    <h2>Secondary Certificates - Sudanese Certifications</h2>
    <h4>count: <%= sudan.length %></h4>
</header>
<div class="container">
        <% sudan.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("ahmedalimsoliman-sudanese-certs/")[1].replace(".jpg", "") %> </h4>
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-warning">Open</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<header class="jumbotron">
    <h2>AWS Trainning Certifications</h2>
    <h4>count: <%= aws_pdf.length %></h4>
</header>
<div class="container">
        <% aws_pdf.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div >
                    <embed src="<%= pic %>" width="300px" height="200px" /> 
                    <div class="caption">
                        <h4> <%= pic.split("ahmedalimsoliman-aws-certs/")[1].replace(".pdf", "").replace("aws-trainning/", "") %> </h4>
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-danger">Open</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

</div>

<header class="jumbotron">
    <h2>Other Certifications</h2>
    <h4>count: <%= other.length %></h4>
</header>
<div class="container">
        <% other.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("ahmedalimsoliman-other-certs/")[1].replace(".jpg", "") %> </h4>
                    </div>
                    <p>
                        <a href="<%= pic %>" target="_blank" class="btn btn-danger">Open</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

</div>

