<%- include ('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        <div class="caption-full">
          <h4><a><%= fuser.name %></a></h4>
          <h2>Full Name: <strong><%= fuser.fname %></strong></h2>
          <p>UserID: <strong><%= fuser._id %></strong></p>
          <p>User Name: <strong><%= fuser.username %></strong></p>

          <form
            id="delete-form"
            action="/mange/profile/<%= fuser._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-large btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="text-left">
    <a class="btn btn-default" href="/mange">Back</a>
  </div>
</div>
