<%- include ('../partials/header') %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Weclome To My gallary!</h1>
      <a>my ALL pics throuh <strong><%= y %></strong></a>
      <div><a>Number of image: <%= all.length %></a></div>
    </div>
  </header>
</div>

<header class="jumbotron">
  <div class="container">
    <h2><%= y %></h2>
  </div>
</header>

<div class="container">
  <div class="row text-center" style="display: flex; flex-wrap: wrap">
    <% all.forEach(function(pic) { %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%= pic %>" />
        <div class="caption">
          <h4>
            <%=
            pic.split("https://s3.amazonaws.com/ahmedamsoliman-replica/IAM/Years/0NDATED/")[1].replace(".jpg",
            "") %>
          </h4>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
